html{
    background-color: #000022;
}
.lot{
    background-color: #53ca7b;
    border-radius: 15%; 
    transition: all 1s ease-in;
}

.lot_for_disabled{
    background-color: #53ca7b;
    border-radius: 15%; 
    transition: all 1s ease-in;
}
.img_prop{
    height: 55%;
    width: 55%;
    margin: auto;
    margin-top: 13px;
    display: block;
}