@font-face {
    font-family: 'Anton';
    src: url('font/Anton-Regular.ttf');
  }  

html{
background-color: #111;
}
body{
    display: flex;
    justify-content: center;
    color: #f2f2f2;
    font-family: 'Arial Narrow Bold', sans-serif;
}
.cont{
    background-color: rgb(24, 21, 29);
    width: 600px;
    height: 400px;
    border: 1px white solid;
    align-content: center;
    margin-top: 130px;
    box-shadow: 0px 6px 31px 16px #1c1c1d;
}
.img_parking{
    width: 600px;
    height: 400px;  
}

.parking_zone{
    width: 230px;
    height: 90px;
    margin-top: -310px;
    margin-left: 90px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

.parking_zone1{
    width: 230px;
    height: 90px;
    margin-left: 90px;
    margin-top: 5px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
.slot{
    background-color: rgb(12, 56, 12);
    width: 60px;
    height: 90px;
    border-radius: 15%;  
    display: flex;
    justify-content: center; 
}

.img_logo{
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.info_zone{
    width: 90px;
    height: 250px;
    float: right;
    margin-top: -320px;
    text-align: center;
    letter-spacing: 1.5px;
}

#count{
    font-size: 70px;
    text-align: center;
    margin-top: -30px;
    height: auto;
    font-family: Anton;
    animation: 1600ms pulsate infinite alternate ease-in-out;
}
ul{
    padding: 0px;
    margin-top: -10px;
    text-align: left;
    margin-left: 5px;
}
li{
    margin-top: 3px;
    font-size: 12px;
    list-style-type: none;
}
.price{
    margin-top: -70px;
}

@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
